<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Редактировать животное</title>
    <link rel="stylesheet" th:href="@{/css/animals_style.css}"/>
</head>
<body>
<header>
    <h1>Редактировать животное</h1>
</header>
<main>
    <form th:action="@{/zoo/animals/{id}(id=${animal.id})}" th:object="${animal}" method="post">
        <input type="hidden" name="_method" value="patch"/>

        <label for="nickname">Кличка:</label>
        <input type="text" id="nickname" th:field="*{nickname}"/>
        <div th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}"></div>

        <label for="gender">Пол:</label>
        <select id="gender" th:field="*{gender}">
            <option value="мужской" th:selected="${animal.gender=='мужской'}">мужской</option>
            <option value="женский" th:selected="${animal.gender=='женский'}">женский</option>
        </select>
        <div th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></div>

        <label for="arrivalDate">Дата прибытия:</label>
        <input type="date" id="arrivalDate" th:field="*{arrivalDate}"/>
        <div th:if="${#fields.hasErrors('arrivalDate')}" th:errors="*{arrivalDate}"></div>

        <label>
            <input type="checkbox" th:field="*{needsWarmHousing}"/>
            Нуждается в тёплом жилье
        </label>

        <label for="animalTypeId">Тип животного:</label>
        <select id="animalTypeId" th:field="*{animalTypeId}">
            <option th:each="t : ${animalTypeList}"
                    th:value="${t.id}"
                    th:text="${t.type}"
                    th:selected="${t.id == animal.animalTypeId}">Тип</option>
        </select>
        <div th:if="${#fields.hasErrors('animalTypeId')}" th:errors="*{animalTypeId}"></div>

        <label for="cageId">Клетка:</label>
        <select id="cageId" th:field="*{cageId}">
            <option th:each="c : ${cageList}"
                    th:value="${c.id}"
                    th:text="${'ID ' + c.id + ' (' + c.climateZone + ')'}"
                    th:selected="${c.id == animal.cageId}">Клетка</option>
        </select>
        <div th:if="${#fields.hasErrors('cageId')}" th:errors="*{cageId}"></div>

        <div class="buttons">
            <button type="submit" class="btn">Сохранить</button>
            <a th:href="@{/zoo/animals/{id}(id=${animal.id})}" class="btn">Отмена</a>
        </div>
    </form>
</main>
</body>
</html>
