<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Новое животное</title>
    <link rel="stylesheet" th:href="@{/css/animals_style.css}">
</head>
<body>
<header><h1>Добавление нового животного</h1></header>
<main>
    <form th:action="@{/zoo/animals}" th:object="${animal}" method="post">
        <label for="nickname">Кличка:</label>
        <input type="text" th:field="*{nickname}" id="nickname"/>
        <div style="color:red" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}"></div>
        <br/>

        <label for="gender">Пол:</label>
        <select th:field="*{gender}" id="gender">
            <option value="мужской">мужской</option>
            <option value="женский">женский</option>
        </select>
        <div style="color:red" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></div>
        <br/>

        <label for="arrival_date">Дата прибытия:</label>
        <input type="date" th:field="*{arrivalDate}" id="arrival_date"/>
        <div style="color:red" th:if="${#fields.hasErrors('arrivalDate')}" th:errors="*{arrivalDate}"></div>
        <br/>

        <label for="needs_warm_housing">Нуждается в теплом жилье:</label>
        <input type="checkbox" th:field="*{needsWarmHousing}" id="needs_warm_housing"/>
        <br/>

        <label for="animal_type_id">Тип животного:</label>
        <select th:field="*{animalTypeId}" id="animal_type_id">
            <option value="" disabled selected>Выберите тип</option>
            <option th:each="type: ${animalTypeList}"
                    th:value="${type.id}"
                    th:text="${type.type}">
            </option>
        </select>
        <div style="color:red" th:if="${#fields.hasErrors('animalTypeId')}" th:errors="*{animalTypeId}"></div>
        <br/>

        <label for="cage_id">ID клетки:</label>
        <input type="number" th:field="*{cageId}" id="cage_id"/>
        <br/><br/>

        <input type="submit" value="Добавить" class="btn"/>
    </form>
</main>
</body>
</html>
