<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Новый сотрудник</title>
    <link rel="stylesheet" th:href="@{/css/employees_style.css}">
</head>
<body>
<header>
    <h1>Новый сотрудник</h1>
</header>
<main>
    <form th:method="POST"
          th:action="@{/zoo/employees}"
          th:object="${employee}">
        <label for="full_name">Полное имя:</label>
        <input type="text" th:field="*{fullName}" id="full_name"/>
        <div style="color:red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></div>
        <br/>

        <label for="gender">Пол:</label>
        <select th:field="*{gender}" id="gender">
            <option value="мужской">мужской</option>
            <option value="женский">женский</option>
        </select>
        <div style="color:red" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></div>
        <br/>

        <label for="birth_date">Дата рождения:</label>
        <input type="date" th:field="*{birthDate}" id="birth_date"/>
        <div style="color:red" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></div>
        <br/>

        <label for="hire_date">Дата найма:</label>
        <input type="date" th:field="*{hireDate}" id="hire_date"/>
        <div style="color:red" th:if="${#fields.hasErrors('hireDate')}" th:errors="*{hireDate}"></div>
        <br/>

        <label for="position_id">Должность:</label>
        <select th:field="*{positionId}" id="position_id">
            <option value="" disabled selected>Выберите должность</option>
            <option th:each="pos : ${positionsList}"
                    th:value="${pos.id}"
                    th:text="${pos.title}">
            </option>
        </select>
        <div style="color:red"
             th:if="${#fields.hasErrors('positionId')}"
             th:errors="*{positionId}"></div>
        <br/>

        <label for="salary">Зарплата:</label>
        <input type="number" step="1" th:field="*{salary}" id="salary"/>
        <div style="color:red" th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}"></div>
        <br/>

        <label for="contact_info">Контактная информация (email или телефон):</label>
        <input type="text" th:field="*{contactInfo}" id="contact_info"/>
        <div th:if="${#fields.hasErrors('contactInfo')}" th:errors="*{contactInfo}"></div>
        <br/>

        <input type="submit" value="Создать!" class="btn"/>
    </form>
</main>
</body>
</html>
