<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Детали сотрудника</title>
    <link rel="stylesheet" th:href="@{/css/employees_style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <h1>Детали сотрудника</h1>
</header>
<main>
    <p th:text="'Полное имя: ' + ${employee.getFullName()}"></p>
    <p th:text="'Пол: ' + ${employee.getGender()}"></p>
    <p th:text="'Дата найма: ' + ${employee.getHireDate()}"></p>
    <p th:text="'Дата рождения: ' + ${employee.getBirthDate()}"></p>
    <p th:text="'Должность: ' + ${employee.getPositionName()}"></p>
    <p th:text="'Зарплата: ' + ${employee.getSalary()}"></p>
    <p th:text="'Контактная информация: ' + ${employee.getContactInfo()}"></p>
    <p th:text="'Special attributes: ' + ${employee.getSpecialAttributes()}"></p>

    <a th:href="@{/zoo/employees/{id}/edit(id=${employee.getId()})}" class="btn">Редактировать</a>

    <form th:method="DELETE" th:action="@{/zoo/employees/{id}(id=${employee.getId()})}">
        <input type="submit" value="Удалить!" class="btn">
    </form>
</main>
</body>
</html>
