<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Редактировать поставщика</title>
    <link rel="stylesheet" th:href="@{/css/suppliers_style.css}"/>
</head>
<body>
<header>
    <div class="container">
        <h1>Редактировать поставщика</h1>
    </div>
</header>

<main class="container form-page">
    <form th:method="patch"
          th:action="@{/zoo/suppliers/{id}(id=${supplier.id})}"
          th:object="${supplier}">
        <label>
            Название:
            <input type="text" th:field="*{name}"/>
            <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"/>
        </label>

        <label>
            Контакты:
            <input type="text" th:field="*{contacts}"/>
            <div class="error" th:if="${#fields.hasErrors('contacts')}" th:errors="*{contacts}"/>
        </label>

        <div class="form-buttons">
            <button type="submit" class="btn">Сохранить</button>
            <a th:href="@{/zoo/suppliers}" class="btn btn-secondary">Отменить</a>
        </div>
    </form>
</main>

<footer class="container">
    <a href="javascript:history.back()" class="btn back-btn">← Назад</a>
</footer>
</body>
</html>
